# Environment variables
.env

# Virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE files
.idea/
.vscode/

# Application Data & Indexes
data/index/*
!data/index/.gitkeep
data/documents/*.pdf
!data/documents/.gitkeep

# Logs
*.log
